@model IEnumerable<LiveMedsEntity.User>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Index</h2>


<div class="container">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <strong>User List</strong>
                <a href="/Category/Create" class="pull-right"><i class="glyphicon glyphicon-plus"></i> AddNew</a>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>NAME</th>
                        <th>USERNAME</th>
                        <th>EMAIL</th>
                        
                        <th>Delete</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            
                            <td><a href="/User/Delete/@item.UserId"><i class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
 </div>
<a href="/adminHome">Back</a>