<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-notify.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/navbar-fixed-side.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", false)
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @RenderSection("scripts", false)
    <style>
        .navbar-brand {
            color: #FFFFFF !important;
        }

        .blankspace {
            margin-bottom: 100px;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <div class="blankspace">

        </div>

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
<style>
    body {
        font-family: 'PT Serif', serif;
    }
</style>